.about-job{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px;

  @media(max-width: $screen-lg) {
    grid-template-rows: initial;
    grid-template-columns: initial;
  }

  @media(max-width: $screen-m) {
    gap: 8px;
  }

  &__box{
    border: 1px solid $black-color;
    border-radius: 16px;
  }
}