.quizz {
  @include cards-left-padding;
  padding-top: 47px;
  padding-bottom: 65px;
  padding-right: 40px;
  margin-bottom: 120px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  background-color: $accent-yellow-color;
  border-radius: $cards-border-radius;
  @media screen and (max-width: 660px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 20px;
    margin-bottom: 68px;
  }

  &::before {
    content: '';
    background-image: url('images/writing-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 15px;
    left: 35%;
    width: calc(300px + (450 - 300) * ((100vw - 1000px) / (1180 - 1000)));
    height: calc(70px + (88 - 70) * ((100vw - 1000px) / (1180 - 1000)));
    max-width: 450px;
    max-height: 88px;
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  &__title {
    @include title-font;
    font-size: 32px;
    @media screen and (max-width: 660px) {
      font-size: 24px;
    }
  }

  &__text {
    margin: 0;
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    @media screen and (max-width: 660px) {
      margin: 4px 0 24px;
      max-width: 380px;
    }
  }

  &__btn {
    @include button;
    margin-left: 24px;
    max-height: 60px;
    min-width: 267px;
    @media screen and (max-width: 660px) {
      margin-left: 0;
    }
  }
}
