.footer {
  background: $cards-bg-color;
  border-radius: $cards-border-radius;
  padding: 96px 100px 89px;

  &__columns {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
  }

  &__contacts-phone {
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    margin: 0;
    padding: 0;
  }

  &__contacts-phone-caption {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #7E7A73;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
  }

  &__contacts-social {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  &__social-icon {
    width: 24px;
    height: 24px;
    background: center / contain no-repeat;

    &:hover {
      opacity: .8;
    }

    &_type_vk {
      background-image: url('./images/vk.svg');
    }

    &_type_tg {
      background-image: url('./images/tg.svg');
      background-size: 80%;
    }
  }

  &__social-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: $content-primary-color;
    text-decoration: none;
  }

  &__nav-links {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 280px));
    column-gap: 20px;
    row-gap: 12px;
  }

  &__nav-link {
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    text-decoration: none;
    color: $primary-text-color;

    &:hover {
      opacity: .8;
    }
  }

  &__law-info {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    row-gap: 14px;
    color: #7E7A73;
  }

  &__law-info-paragraph {
    margin: 0;
    padding: 0;
  }
}