.about-practikum{
  padding: 72px 40px;

  @media(max-width: $screen-m) {
    padding: 40px 20px;
  }

  @media(max-width: $screen-s) {
    padding: 20px 0;
  }

  &__text{
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin: 0;

    &:first-of-type{
      margin-bottom: 25px;

      @media(max-width: $screen-m) {
        margin-bottom: 16px;
      }
    }

    @media(max-width: $screen-m) {
      font-size: 14px;

    }
  }
}