$font-family: 'YS Text', Helvetica, sans-serif;
$font-family-section-titles: 'YS Display', Helvetica, sans-serif;
$primary-color: #bada55;
$light-text-color: #fff;
$accent-yellow-color: #fcd559;
$accent-light-blue-color: #aaccf1;
$blank-focus-color: #b3b3b3;
$primary-bg-color: #e9e9e9;
$blue-gray-color: #f1f2f5;
$link-check-base-color: #4d4d4d;
$primary-text-color: #000;
$content-primary-color: #000;
$black-color: #000;
$cards-bg-color: #fff;
$hover-blue: #5686e3; //Цвет взят из палитры дизайнеров, но не факт что это нужный
$cards-border-radius: 16px;
$accent-blue-color: #5686e3;
$btn-footer-color: #262626;
$dark-grey-color: #7E7A73;

//Mixins

//общий стиль button
@mixin button {
  padding: 20px 24px;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border-radius: 120px;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  &:hover {
    opacity: 0.85;
  }

  &:active {
    transform: scale(.97);
  }
  @media screen and (max-width: 900px) {
    font-size: 16px;
    padding: 15px 24px;
  }
}

//отступ слева в большинстве блоков
@mixin cards-left-padding {
  padding-left: 40px;
}

//скругление блоков и элементов
@mixin cards-border-radius {
  border-radius: 16px;
}

//Общий стиль заголовков секций
@mixin title-font {
  margin: 0;
  font-family: $font-family-section-titles;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

@mixin hide-scroll-bar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

//разрешения экрана
$screen-xs: 320px;
$screen-s: 480px;
$screen-m: 768px;
$screen-lg: 1220px;
$screen-xlg: 1440px;
