$font-family: 'YS Text', Helvetica, sans-serif;
$font-family-primary: 'YS Sans', Helvetica, sans-serif;
$font-family-section-titles: 'YS Display', Helvetica, sans-serif;
$primary-color: #bada55;
$accent-yellow-color: #FCD559;
$accent-light-blue-color: #AACCF1;
$blank-focus-color: #B3B3B3;
$primary-bg-color: #E9E9E9;
$blue-gray-color: #F1F2F5;
$link-check-base-color: #4D4D4D;
$primary-text-color: #000;
$content-primary-color: #000;
$black-color: #000;
$cards-bg-color: #fff;
$cards-border-radius: 16px;