.section1 {
  margin-top: 72px;
  margin-bottom: 75px;
  margin: 0 20px;

  &__main {
    @include cards-left-padding;
    @include cards-border-radius;
    max-height: 508px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $cards-bg-color;
    margin-bottom: 8px;
    @media screen and (max-width: 660px) {
      padding: 0 20px;
    }
  }

  &__text {
    max-width: 540px;
    min-width: 473px;
    padding-top: 32px;
    @media screen and (max-width: 900px) {
      max-width: 600px;
    }
    @media screen and (max-width: 540px) {
      max-width: 400px;
      min-width: auto;
    }
  }

  &__title {
    @include title-font;
    font-size: 48px;
    @media screen and (max-width: 540px) {
      font-size: 32px;
    }
  }

  &__subtitle {
    @include title-font;
    margin: 0;
    margin-bottom: 24px;
    font-size: 48px;
    color: $accent-yellow-color;
    @media screen and (max-width: 540px) {
      font-size: 32px;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 40px;
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    @media screen and (max-width: 900px) {
      margin-bottom: 22px;
    }
  }

  &__img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $cards-border-radius;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__btn {
    @include button;
    background-color: $primary-text-color;
    color: $light-text-color;
    margin-bottom: 62px;
    @media screen and (max-width: 900px) {
      margin-bottom: 20px;
    }
  }
}
