.section1 {
  margin-top: 12px;
  margin-bottom: 75px;

  &__main {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: $cards-bg-color;
    border-radius: $cards-border-radius;
    padding-left: $cards-left-padding;
    margin-bottom: 8px;
  }

  &__img {
    border-radius: 0 $cards-border-radius $cards-border-radius 0;
  }


}
