.slides {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 128px;
  position: relative;

  @media (max-width: $screen-s) {
    padding-bottom: 68px;
  }

  &__hearts {
    position: absolute;
    right: 90px;
    top: -45px;
    background: url('./images/hearts.svg') center / contain no-repeat;
    width: 382px;
    height: 125px;

    @media (max-width: $screen-m) {
      width: 128px;
      height: 45px;
      right: 30px;
    top: -5px;
    }
  }

  &__section-title {
    @media (max-width: $screen-s) {
      max-width: 200px;
    }
  }
}
