.slides {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 128px;

  &__button {
    width: 100px;
    height: 100px;
    border: none;
    background: center / contain no-repeat;
    padding: 0;
    cursor: pointer;

    &_type_prev {
      background-image: url('./images/slide-prev.svg');
      margin-right: 13px;
    }

    &_type_next {
      background-image: url('./images/slide-next.svg');
      margin-left: 13px;
    }

    &:hover {
      opacity: .8;
    }

    &:active {
      transform: scale(.97);
    }
  }

}