.questions {
  padding-bottom: 128px;

  @media screen and (max-width: 425px) {
    padding-bottom: 36px;
  }

  &__accordeon {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    @media screen and (max-width: 480px) {
      width: calc(100% - 40px);
    }
  }

  &__accordeon-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__accordeon-checkbox {
    display: none;

    &:checked + .questions__accordeon-question {
      background-color: $black-color;
      color: #fff;
      transition: all .2s ease;

        &::after {
          transform: scale(-1, -1);
          filter: invert(1);
        }
    }

    &:checked ~ .questions__accordeon-content {
      max-height: 500px;
      padding: 20px 200px 20px 40px;
      transition: max-height .3s;

      @media screen and (max-width: 425px) {
        padding: 20px;
      }
    }
  }

  &__accordeon-question {
    padding: 20px 40px;
    background: $cards-bg-color;
    border-radius: $cards-border-radius;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    color: $primary-text-color;
    display: flex;
    justify-content: space-between;
    column-gap: 56px;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }

    &::after {
      content: '';
      width: 32px;
      height: 32px;
      background: url("./images/chevron-up.svg") center / cover no-repeat;
      transition: all .2s ease;
      flex-shrink: 0;
    }

    @media screen and (max-width: 425px) {
      padding: 20px;
      font-size: 16px;
    }
  }

  &__accordeon-content {
    max-height: 0px;
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    background: $cards-bg-color;
    border-radius: $cards-border-radius;
    transition: max-height .3s, padding 0s ease .3s;
  }

  &__content-paragraph {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;

    @media screen and (max-width: 425px) {
      font-size: 14px;
    }
  }
}