.header {
  margin: 0 20px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  height: 36px;
  width: 92vw;
  max-width: 1140px;
  top: 12px;
  z-index: 100;
  position: fixed;
  @media screen and (max-width: 375px) {
      
    }

  &__wrapper {
    display: flex;
  }

  &__logo {
    display: block;
    background-image: url("images/header__logo.svg");
    background-repeat: no-repeat;
    width: 163px;
    height: 32px;
    margin-right: 45px;
    &:hover {
      cursor: pointer;
      opacity: .8;
    }
    @media screen and (max-width: 900px) {
      margin-right: 10px;
    }
  }

  &__questions {
    margin: 5px 0 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    column-gap: 24px;
    align-items: center;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__question {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
  }

  &__question-text {
    list-style-type: none;

    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.85);

    &:hover {
      opacity: .8;
    }
  }

  &__button {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    border: none;
    border-radius: 120px;
    background-color: black;
    padding: 7px 12px;
    margin-left: 5px;
    max-height: 32px;

    &:hover {
      opacity: .8;
    }

    &:active {
      transform: scale(.97);
    }
  }
}