.popup {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s ease;

  &_opened {
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    min-height: 100px;
    min-width: 100px;
    background: $cards-bg-color;
    border-radius: $cards-border-radius;
    position: relative;
  }

  &__close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    border: none;
    margin: 0;
    padding: 0;
    background: url('./images/close.svg') center / contain no-repeat;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    &:active {
      transform: scale(.95);
    }
  }
}

.popup_type_contacts{

}

.popup__inner{
  width: 760px;

  @media(max-width: $screen-m){
    width: calc(100% - 80px);
  }

  @media(max-width: $screen-s){
    width: calc(100% - 20px);
  }
}